

.table-view{
  -fx-background-color : transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#ffccdd, #ff3377);
}

.table-view .column-header-background .label{
    -fx-text-fill: #8FBC8F;
    
}

.table-row-cell: hover {
    -fx-text-background-color: #2E8B57;
}

.table-row-cell: odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #8FBC8F;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

